<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CMS Application</title>
    <meta name="description" content="CMS Application build by fahari Softonics" />
    <meta name="author" content="Rodgers - Fahari Softonics" />
    <link href="~/favicon.ico" rel="icon" />
    @await Html.PartialAsync("_ApplicationHeaderStylePartial")
    @RenderSection("Styles",required:false)
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("_SidebarLayout")
        <div id="content">
            @await Html.PartialAsync("_TopbarLayout")
            @RenderBody()
        </div>
        @await Html.PartialAsync("_FooterLayout")
    </div>
    @await Html.PartialAsync("_UIScriptsPartial")
    @RenderSection("Scripts",required: false)
</body>
</html>